In [29]:
import re
import urllib.request
from bs4 import BeautifulSoup
import pandas as pd

In [1]:
def search_url(title):
    baseurl = 'https://search.naver.com/search.naver?sm=top_hty&fbm=1&ie=utf8&query='
    url = baseurl + urllib.parse.quote_plus(title)
    return url

In [11]:
def get_ticker(url):
    soup = BeautifulSoup(urllib.request.urlopen(url).read(), "html.parser")
    div = soup.find("div", class_ = "company_intro _ellipsis _detail")
    herf = div.find("a").get("href")
    ticker = re.findall("\d+", herf)[0] 
    return  ticker

In [12]:
url = search_url("삼성전자")
get_ticker(url)

'005930'

In [13]:
com_list = ["삼성전자", "sk하이닉스"]
for com in com_list:
    url = search_url(com)
    print(get_ticker(url))

005930
000660

In [25]:
def get_info(ticker):
    h_finance_url = "https://finance.naver.com/item/main.nhn?code="
    url = h_finance_url+ticker
    soup = BeautifulSoup(urllib.request.urlopen(url).read(), "html.parser")
    div = soup.find("div",class_="description")
    suma_info = div.find("div",class_="summary_info")
    return suma_info.text[5:]

In [27]:
tic_list = []
for com in com_list:
    url = search_url(com)
    ticker = get_ticker(url)
    print(get_info(ticker).strip())
    tic_list.append(ticker)

한국 및 CE, IM부문 해외 9개 지역총괄과 DS부문 해외 5개 지역총괄, Harman 등 252개의 종속기업으로 구성된 글로벌 전자기업임.
세트사업에는 TV, 냉장고 등을 생산하는 CE부문과 스마트폰, 네트워크시스템, 컴퓨터 등을 생산하는 IM부문이 있음.
부품사업에서는 D램, 낸드 플래쉬, 모바일AP 등의 제품을 생산하는 반도체 사업과 TFT-LCD 및 OLED 디스플레이 패널을 생산하는 DP사업의 DS부문으로 구성됨.
출처 : 에프앤가이드
1949년 국도건설로 설립되어 1983년 현대전자로 상호 변경했고, 2001년 하이닉스반도체를 거쳐 2012년 최대주주가 SK텔레콤으로 바뀌면서 SK하이닉스로 상호를 변경함.
주력 제품은 DRAM, 낸드플래시 등 메모리반도체임. 2018년 매출액 기준 세계 반도체 시장에서 차지하는 시장 점유율은 D램이 28.3%, 낸드플래시는 12.2%임.
동사가 참여한 한미일 연합 컨소시엄이 인수한 도시바메모리는 2019년 중 IPO를 추진함.
출처 : 에프앤가이드

In [40]:
class Company:
    def __init__(self,name, info):
        self.name = name
        self.info = info
    def __str__(self):
        return self.name+"\n"+self.info

In [47]:
def info_to_xlsx(com_list):
    df = pd.DataFrame(columns = ["종목명","정보"])
    index = 0
    for com in com_list:
        url = search_url(com)
        ticker = get_ticker(url)
        #print(get_info(ticker).strip())
        info = get_info(ticker)
        df.loc[index] = [com,info]
        index +=1
    df.to_excel("company_info.xlsx")
    return df

In [38]:
# df = pd.DataFrame(columns = ["종목명","정보"])
# df.loc[0] = ["삼성","if"]
# df

  종목명  정보
0  삼성  if

In [50]:
com_list = ["삼성전자","sk하이닉스","현대자동차"]
info_to_xlsx(com_list)

      종목명                                                 정보
0    삼성전자  \n한국 및 CE, IM부문 해외 9개 지역총괄과 DS부문 해외 5개 지역총괄, H...
1  sk하이닉스  \n1949년 국도건설로 설립되어 1983년 현대전자로 상호 변경했고, 2001년 ...
2   현대자동차  \n동사는 1967년 12월에 설립되어 1974년 6월 28일에 유가증권시장에 상장...